body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u760 {
  position:absolute;
  left:20px;
  top:20px;
  width:540px;
  height:960px;
}
#u761 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u762 {
  position:absolute;
  left:25px;
  top:28px;
  width:530px;
  height:20px;
}
#u763 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u764 {
  position:absolute;
  left:478px;
  top:80px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u765 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u766 {
  position:absolute;
  left:25px;
  top:170px;
  width:530px;
  height:120px;
}
#u767 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u768 {
  position:absolute;
  left:25px;
  top:300px;
  width:530px;
  height:120px;
}
#u769 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u770 {
  position:absolute;
  left:25px;
  top:430px;
  width:530px;
  height:120px;
}
#u771 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u772 {
  position:absolute;
  left:40px;
  top:180px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u774 {
  position:absolute;
  left:93px;
  top:206px;
  width:455px;
  height:30px;
  font-size:18px;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u776 {
  position:absolute;
  left:25px;
  top:560px;
  width:530px;
  height:120px;
}
#u777 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u778 {
  position:absolute;
  left:380px;
  top:80px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u779 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u780 {
  position:absolute;
  left:89px;
  top:340px;
  width:455px;
  height:30px;
  font-size:18px;
}
#u781 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u782 {
  position:absolute;
  left:93px;
  top:470px;
  width:455px;
  height:30px;
  font-size:18px;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u784 {
  position:absolute;
  left:89px;
  top:600px;
  width:455px;
  height:30px;
  font-size:18px;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u786 {
  position:absolute;
  left:92px;
  top:188px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u788 {
  position:absolute;
  left:40px;
  top:300px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u790 {
  position:absolute;
  left:92px;
  top:308px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u792 {
  position:absolute;
  left:40px;
  top:440px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u794 {
  position:absolute;
  left:92px;
  top:448px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u796 {
  position:absolute;
  left:40px;
  top:568px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u798 {
  position:absolute;
  left:92px;
  top:576px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u800 {
  position:absolute;
  left:20px;
  top:900px;
  width:135px;
  height:80px;
}
#u801 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u802 {
  position:absolute;
  left:155px;
  top:900px;
  width:135px;
  height:80px;
}
#u803 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u804 {
  position:absolute;
  left:290px;
  top:900px;
  width:135px;
  height:80px;
}
#u805 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u806 {
  position:absolute;
  left:425px;
  top:900px;
  width:135px;
  height:80px;
}
#u807 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u808p000 {
  position:absolute;
  left:559px;
  top:445px;
  width:213px;
  height:11px;
}
#u808p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:11px;
}
#u808p001 {
  position:absolute;
  left:560px;
  top:438px;
  width:25px;
  height:25px;
}
#u808p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u808p002 {
  position:absolute;
  left:746px;
  top:438px;
  width:25px;
  height:25px;
}
#u808p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u809 {
  position:absolute;
  left:567px;
  top:442px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u810 {
  position:absolute;
  left:587px;
  top:368px;
  width:156px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u812 {
  position:absolute;
  left:775px;
  top:28px;
  width:540px;
  height:960px;
}
#u813 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u814 {
  position:absolute;
  left:780px;
  top:36px;
  width:530px;
  height:20px;
}
#u815 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u816 {
  position:absolute;
  left:1233px;
  top:88px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u817 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u818 {
  position:absolute;
  left:825px;
  top:178px;
  width:485px;
  height:110px;
}
#u819 {
  position:absolute;
  left:10px;
  top:10px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u820 {
  position:absolute;
  left:825px;
  top:308px;
  width:485px;
  height:110px;
}
#u821 {
  position:absolute;
  left:10px;
  top:10px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u822 {
  position:absolute;
  left:825px;
  top:438px;
  width:485px;
  height:110px;
}
#u823 {
  position:absolute;
  left:10px;
  top:10px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u824 {
  position:absolute;
  left:839px;
  top:188px;
  width:158px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u826 {
  position:absolute;
  left:887px;
  top:214px;
  width:416px;
  height:27px;
  font-size:18px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u828 {
  position:absolute;
  left:825px;
  top:568px;
  width:485px;
  height:110px;
}
#u829 {
  position:absolute;
  left:10px;
  top:10px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u830 {
  position:absolute;
  left:1135px;
  top:88px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u831 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u832 {
  position:absolute;
  left:884px;
  top:348px;
  width:416px;
  height:27px;
  font-size:18px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u834 {
  position:absolute;
  left:887px;
  top:478px;
  width:416px;
  height:27px;
  font-size:18px;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u836 {
  position:absolute;
  left:884px;
  top:608px;
  width:416px;
  height:27px;
  font-size:18px;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838 {
  position:absolute;
  left:886px;
  top:196px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u840 {
  position:absolute;
  left:839px;
  top:308px;
  width:158px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842 {
  position:absolute;
  left:886px;
  top:316px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u844 {
  position:absolute;
  left:839px;
  top:448px;
  width:158px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:886px;
  top:456px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u848 {
  position:absolute;
  left:839px;
  top:576px;
  width:158px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u850 {
  position:absolute;
  left:886px;
  top:584px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u852 {
  position:absolute;
  left:781px;
  top:348px;
  width:42px;
  height:41px;
}
#u853 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u854 {
  position:absolute;
  left:778px;
  top:211px;
  width:42px;
  height:41px;
}
#u855 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u856 {
  position:absolute;
  left:781px;
  top:473px;
  width:42px;
  height:41px;
}
#u857 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u858 {
  position:absolute;
  left:781px;
  top:603px;
  width:42px;
  height:41px;
}
#u859 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u860 {
  position:absolute;
  left:775px;
  top:908px;
  width:135px;
  height:80px;
}
#u861 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u862 {
  position:absolute;
  left:910px;
  top:908px;
  width:135px;
  height:80px;
}
#u863 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u864 {
  position:absolute;
  left:1045px;
  top:908px;
  width:135px;
  height:80px;
}
#u865 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u866 {
  position:absolute;
  left:1180px;
  top:908px;
  width:135px;
  height:80px;
}
#u867 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:1367px;
  top:178px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u870 {
  position:absolute;
  left:1367px;
  top:214px;
  width:300px;
  height:32px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u872 {
  position:absolute;
  left:18px;
  top:1040px;
  width:540px;
  height:960px;
}
#u873 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u874 {
  position:absolute;
  left:23px;
  top:1048px;
  width:530px;
  height:20px;
}
#u875 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u876 {
  position:absolute;
  left:476px;
  top:1100px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u877 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u878 {
  position:absolute;
  left:25px;
  top:1299px;
  width:480px;
  height:230px;
}
#u879 {
  position:absolute;
  left:10px;
  top:10px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u880 {
  position:absolute;
  left:23px;
  top:1249px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
}
#u882 {
  position:absolute;
  left:50px;
  top:1319px;
  width:455px;
  height:30px;
  font-size:28px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u884 {
  position:absolute;
  left:378px;
  top:1100px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u885 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u886 {
  position:absolute;
  left:89px;
  top:1262px;
  width:231px;
  height:24px;
  font-size:20px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:50px;
}
#u888 {
  position:absolute;
  left:498px;
  top:1841px;
  width:28px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u889 {
  position:absolute;
  left:2px;
  top:17px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:51px;
  top:1830px;
  width:424px;
  height:70px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u891 {
  position:absolute;
  left:37px;
  top:1100px;
  width:21px;
  height:37px;
}
#u892 {
  position:absolute;
  left:2px;
  top:11px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u893 {
  position:absolute;
  left:18px;
  top:1920px;
  width:135px;
  height:80px;
}
#u894 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u895 {
  position:absolute;
  left:153px;
  top:1920px;
  width:135px;
  height:80px;
}
#u896 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u897 {
  position:absolute;
  left:288px;
  top:1920px;
  width:135px;
  height:80px;
}
#u898 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u899 {
  position:absolute;
  left:423px;
  top:1920px;
  width:135px;
  height:80px;
}
#u900 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u901 {
  position:absolute;
  left:198px;
  top:1610px;
  width:346px;
  height:150px;
  font-size:28px;
}
#u902 {
  position:absolute;
  left:10px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u903 {
  position:absolute;
  left:255px;
  top:1559px;
  width:48px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u905 {
  position:absolute;
  left:313px;
  top:1577px;
  width:231px;
  height:24px;
  font-size:20px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u907 {
  position:absolute;
  left:610px;
  top:1190px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u909 {
  position:absolute;
  left:610px;
  top:1226px;
  width:300px;
  height:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u911p000 {
  position:absolute;
  left:563px;
  top:1497px;
  width:211px;
  height:11px;
}
#u911p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:11px;
}
#u911p001 {
  position:absolute;
  left:563px;
  top:1490px;
  width:25px;
  height:25px;
}
#u911p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u911p002 {
  position:absolute;
  left:749px;
  top:1490px;
  width:25px;
  height:25px;
}
#u911p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912 {
  position:absolute;
  left:570px;
  top:1494px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u913 {
  position:absolute;
  left:590px;
  top:1420px;
  width:156px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u915 {
  position:absolute;
  left:768px;
  top:1080px;
  width:540px;
  height:960px;
}
#u916 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u917 {
  position:absolute;
  left:773px;
  top:1088px;
  width:530px;
  height:20px;
}
#u918 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u919 {
  position:absolute;
  left:1226px;
  top:1140px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u920 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u921 {
  position:absolute;
  left:775px;
  top:1339px;
  width:480px;
  height:230px;
}
#u922 {
  position:absolute;
  left:10px;
  top:10px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u923 {
  position:absolute;
  left:773px;
  top:1289px;
  width:173px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
}
#u925 {
  position:absolute;
  left:800px;
  top:1359px;
  width:455px;
  height:30px;
  font-size:28px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u927 {
  position:absolute;
  left:1128px;
  top:1140px;
  width:77px;
  height:46px;
  font-size:36px;
}
#u928 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u929 {
  position:absolute;
  left:839px;
  top:1302px;
  width:231px;
  height:24px;
  font-size:20px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:50px;
}
#u931 {
  position:absolute;
  left:1248px;
  top:1881px;
  width:28px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u932 {
  position:absolute;
  left:2px;
  top:17px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:801px;
  top:1870px;
  width:424px;
  height:70px;
}
#u933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u934 {
  position:absolute;
  left:787px;
  top:1140px;
  width:21px;
  height:37px;
}
#u935 {
  position:absolute;
  left:2px;
  top:11px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u936 {
  position:absolute;
  left:768px;
  top:1960px;
  width:135px;
  height:80px;
}
#u937 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u938 {
  position:absolute;
  left:903px;
  top:1960px;
  width:135px;
  height:80px;
}
#u939 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u940 {
  position:absolute;
  left:1038px;
  top:1960px;
  width:135px;
  height:80px;
}
#u941 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u942 {
  position:absolute;
  left:1173px;
  top:1960px;
  width:135px;
  height:80px;
}
#u943 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u944 {
  position:absolute;
  left:948px;
  top:1650px;
  width:346px;
  height:150px;
  font-size:28px;
}
#u945 {
  position:absolute;
  left:10px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u946 {
  position:absolute;
  left:1005px;
  top:1599px;
  width:48px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u948 {
  position:absolute;
  left:1063px;
  top:1617px;
  width:231px;
  height:24px;
  font-size:20px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:1360px;
  top:1230px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u952 {
  position:absolute;
  left:1360px;
  top:1266px;
  width:300px;
  height:16px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u954 {
  position:absolute;
  left:896px;
  top:1705px;
  width:42px;
  height:41px;
}
#u955 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u956 {
  position:absolute;
  left:1261px;
  top:1434px;
  width:42px;
  height:41px;
}
#u957 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
