body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:820px;
}
#u958 {
  position:absolute;
  left:50px;
  top:30px;
  width:461px;
  height:820px;
}
#u959 {
  position:absolute;
  left:2px;
  top:402px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:450px;
  top:178px;
  width:130px;
  height:-88px;
}
#u960_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:144px;
  height:20px;
}
#u960_seg1 {
  position:absolute;
  left:120px;
  top:-92px;
  width:20px;
  height:102px;
}
#u961 {
  position:absolute;
  left:59px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
}
#u962 {
  position:absolute;
  left:521px;
  top:40px;
  width:210px;
  height:49px;
}
#u963 {
  position:absolute;
  left:2px;
  top:17px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u964 {
  position:absolute;
  left:590px;
  top:99px;
  width:160px;
  height:16px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:156px;
}
#u966 {
  position:absolute;
  left:796px;
  top:40px;
  width:514px;
  height:156px;
}
#u967 {
  position:absolute;
  left:2px;
  top:70px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:740px;
  top:70px;
  width:50px;
  height:0px;
}
#u968_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u969 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:244px;
  top:267px;
  width:416px;
  height:13px;
}
#u970_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:430px;
  height:20px;
}
#u970_seg1 {
  position:absolute;
  left:406px;
  top:-10px;
  width:20px;
  height:27px;
}
#u971 {
  position:absolute;
  left:165px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
}
#u972 {
  position:absolute;
  left:550px;
  top:281px;
  width:210px;
  height:49px;
}
#u973 {
  position:absolute;
  left:2px;
  top:17px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:760px;
  top:310px;
  width:60px;
  height:0px;
}
#u974_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u975 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:128px;
}
#u976 {
  position:absolute;
  left:820px;
  top:232px;
  width:379px;
  height:128px;
}
#u977 {
  position:absolute;
  left:2px;
  top:56px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u978 {
  position:absolute;
  left:690px;
  top:344px;
  width:160px;
  height:32px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:84px;
}
#u980 {
  position:absolute;
  left:90px;
  top:136px;
  width:360px;
  height:84px;
}
#u981 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:459px;
  top:487px;
  width:151px;
  height:43px;
}
#u982_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:165px;
  height:20px;
}
#u982_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:57px;
}
#u983 {
  position:absolute;
  left:47px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:582px;
  top:538px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u986 {
  position:absolute;
  left:50px;
  top:904px;
  width:300px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:314px;
  top:623px;
  width:290px;
  height:27px;
}
#u988_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:304px;
  height:20px;
}
#u988_seg1 {
  position:absolute;
  left:280px;
  top:-10px;
  width:20px;
  height:41px;
}
#u989 {
  position:absolute;
  left:109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u990 {
  position:absolute;
  left:560px;
  top:650px;
  width:320px;
  height:180px;
  font-size:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:174px;
  top:703px;
  width:376px;
  height:177px;
}
#u992_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:390px;
  height:20px;
}
#u992_seg1 {
  position:absolute;
  left:366px;
  top:-10px;
  width:20px;
  height:191px;
}
#u993 {
  position:absolute;
  left:227px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:538px;
  top:882px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u996 {
  position:absolute;
  left:538px;
  top:904px;
  width:300px;
  height:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u998 {
  position:absolute;
  left:180px;
  top:287px;
  width:290px;
  height:20px;
}
#u999 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1000 {
  position:absolute;
  left:180px;
  top:410px;
  width:290px;
  height:20px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1002 {
  position:absolute;
  left:180px;
  top:520px;
  width:290px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1004 {
  position:absolute;
  left:180px;
  top:640px;
  width:290px;
  height:20px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1006 {
  position:absolute;
  left:180px;
  top:760px;
  width:290px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
