body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1960 {
  position:absolute;
  left:20px;
  top:20px;
  width:540px;
  height:960px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1962 {
  position:absolute;
  left:20px;
  top:900px;
  width:135px;
  height:80px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1964 {
  position:absolute;
  left:155px;
  top:900px;
  width:135px;
  height:80px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1966 {
  position:absolute;
  left:290px;
  top:900px;
  width:135px;
  height:80px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1968 {
  position:absolute;
  left:425px;
  top:900px;
  width:135px;
  height:80px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u1970 {
  position:absolute;
  left:25px;
  top:28px;
  width:530px;
  height:20px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1972 {
  position:absolute;
  left:23px;
  top:75px;
  width:534px;
  height:52px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:18px;
  width:530px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:327px;
}
#u1974 {
  position:absolute;
  left:172px;
  top:142px;
  width:245px;
  height:327px;
  font-size:72px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:73px;
  width:241px;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:188px;
  top:488px;
  width:300px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1978 {
  position:absolute;
  left:117px;
  top:542px;
  width:213px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u1980 {
  position:absolute;
  left:340px;
  top:548px;
  width:77px;
  height:16px;
}
#u1981 {
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1980_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1982 {
  position:absolute;
  left:340px;
  top:574px;
  width:100px;
  height:16px;
}
#u1983 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1982_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1984 {
  position:absolute;
  left:340px;
  top:600px;
  width:170px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u1984_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u1986 {
  position:absolute;
  left:60px;
  top:670px;
  width:140px;
  height:140px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u1988 {
  position:absolute;
  left:224px;
  top:670px;
  width:140px;
  height:140px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u1990 {
  position:absolute;
  left:390px;
  top:670px;
  width:140px;
  height:140px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u1992 {
  position:absolute;
  left:580px;
  top:680px;
  width:300px;
  height:88px;
  font-size:18px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1994 {
  position:absolute;
  left:590px;
  top:446px;
  width:300px;
  height:48px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u1996 {
  position:absolute;
  left:39px;
  top:83px;
  width:21px;
  height:37px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:11px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
