body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:20px;
  top:18px;
  width:110px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u12 {
  position:absolute;
  left:20px;
  top:50px;
  width:300px;
  height:240px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:27px;
  top:290px;
  width:141px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16 {
  position:absolute;
  left:27px;
  top:322px;
  width:300px;
  height:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:27px;
  top:408px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:260px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u20 {
  position:absolute;
  left:40px;
  top:480px;
  width:150px;
  height:260px;
}
#u21 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22p000 {
  position:absolute;
  left:65px;
  top:622px;
  width:51px;
  height:11px;
}
#u22p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:11px;
}
#u22p001 {
  position:absolute;
  left:65px;
  top:615px;
  width:25px;
  height:25px;
}
#u22p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u22p002 {
  position:absolute;
  left:91px;
  top:615px;
  width:25px;
  height:25px;
}
#u22p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  position:absolute;
  left:72px;
  top:619px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:260px;
  background:inherit;
  background-color:rgba(102, 51, 255, 1);
  -moz-box-shadow:-10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:-10px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow:-10px 10px 5px rgba(0, 0, 0, 0.2);
}
#u24 {
  position:absolute;
  left:130px;
  top:480px;
  width:150px;
  height:260px;
}
#u25 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u26 {
  position:absolute;
  left:72px;
  top:646px;
  width:29px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:260px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u28 {
  position:absolute;
  left:399px;
  top:480px;
  width:150px;
  height:260px;
}
#u29 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u30 {
  position:absolute;
  left:500px;
  top:621px;
  width:29px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u32 {
  position:absolute;
  left:494px;
  top:599px;
  width:40px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:260px;
  background:inherit;
  background-color:rgba(102, 51, 255, 1);
  -moz-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.2);
}
#u34 {
  position:absolute;
  left:340px;
  top:480px;
  width:150px;
  height:260px;
}
#u35 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u36 {
  position:absolute;
  left:44px;
  top:450px;
  width:155px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:40px;
  top:840px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u40 {
  position:absolute;
  left:40px;
  top:872px;
  width:300px;
  height:192px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:59px;
}
#u42 {
  position:absolute;
  left:360px;
  top:880px;
  width:210px;
  height:49px;
}
#u43 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:364px;
  top:889px;
  width:166px;
  height:33px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u45 {
  position:absolute;
  left:540px;
  top:894px;
  width:22px;
  height:22px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u47 {
  position:absolute;
  left:350px;
  top:960px;
  width:395px;
  height:702px;
}
#u48 {
  position:absolute;
  left:2px;
  top:343px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u49 {
  position:absolute;
  left:350px;
  top:1603px;
  width:99px;
  height:58px;
}
#u50 {
  position:absolute;
  left:2px;
  top:21px;
  width:95px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u51 {
  position:absolute;
  left:449px;
  top:1603px;
  width:99px;
  height:58px;
}
#u52 {
  position:absolute;
  left:2px;
  top:21px;
  width:95px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u53 {
  position:absolute;
  left:548px;
  top:1603px;
  width:99px;
  height:58px;
}
#u54 {
  position:absolute;
  left:2px;
  top:21px;
  width:95px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u55 {
  position:absolute;
  left:647px;
  top:1603px;
  width:99px;
  height:58px;
}
#u56 {
  position:absolute;
  left:2px;
  top:21px;
  width:95px;
  word-wrap:break-word;
}
#u57p000 {
  position:absolute;
  left:349px;
  top:1098px;
  width:399px;
  height:3px;
}
#u57p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:3px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:352px;
  top:1091px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59p000 {
  position:absolute;
  left:349px;
  top:1200px;
  width:399px;
  height:3px;
}
#u59p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:3px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:352px;
  top:1193px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61p000 {
  position:absolute;
  left:349px;
  top:1303px;
  width:399px;
  height:3px;
}
#u61p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:3px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62 {
  position:absolute;
  left:352px;
  top:1296px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63p000 {
  position:absolute;
  left:349px;
  top:1404px;
  width:399px;
  height:3px;
}
#u63p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:3px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:352px;
  top:1397px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65p000 {
  position:absolute;
  left:349px;
  top:1507px;
  width:399px;
  height:3px;
}
#u65p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:3px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66 {
  position:absolute;
  left:352px;
  top:1500px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u67 {
  position:absolute;
  left:373px;
  top:1011px;
  width:88px;
  height:66px;
}
#u68 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u69 {
  position:absolute;
  left:373px;
  top:1114px;
  width:88px;
  height:66px;
}
#u70 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u71 {
  position:absolute;
  left:373px;
  top:1223px;
  width:88px;
  height:66px;
}
#u72 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u73 {
  position:absolute;
  left:373px;
  top:1318px;
  width:88px;
  height:66px;
}
#u74 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u75 {
  position:absolute;
  left:373px;
  top:1421px;
  width:88px;
  height:66px;
}
#u76 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:20px;
}
#u77 {
  position:absolute;
  left:373px;
  top:1523px;
  width:88px;
  height:66px;
}
#u78 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u79 {
  position:absolute;
  left:468px;
  top:1043px;
  width:58px;
  height:29px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u81 {
  position:absolute;
  left:665px;
  top:1032px;
  width:58px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u83 {
  position:absolute;
  left:665px;
  top:1134px;
  width:58px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u85 {
  position:absolute;
  left:665px;
  top:1244px;
  width:58px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u87 {
  position:absolute;
  left:665px;
  top:1339px;
  width:58px;
  height:26px;
}
#u88 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u89 {
  position:absolute;
  left:665px;
  top:1441px;
  width:58px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
#u91 {
  position:absolute;
  left:665px;
  top:1543px;
  width:58px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:15px;
}
#u93 {
  position:absolute;
  left:354px;
  top:966px;
  width:387px;
  height:15px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-1px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u95 {
  position:absolute;
  left:535px;
  top:1351px;
  width:44px;
  height:29px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u97 {
  position:absolute;
  left:533px;
  top:1145px;
  width:44px;
  height:29px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u99 {
  position:absolute;
  left:533px;
  top:1255px;
  width:44px;
  height:29px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u101 {
  position:absolute;
  left:533px;
  top:1451px;
  width:44px;
  height:29px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u103 {
  position:absolute;
  left:533px;
  top:1557px;
  width:44px;
  height:29px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u105 {
  position:absolute;
  left:533px;
  top:1045px;
  width:44px;
  height:29px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u107 {
  position:absolute;
  left:468px;
  top:1145px;
  width:58px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u109 {
  position:absolute;
  left:468px;
  top:1255px;
  width:58px;
  height:29px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u111 {
  position:absolute;
  left:468px;
  top:1348px;
  width:58px;
  height:29px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-2px;
  width:54px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u113 {
  position:absolute;
  left:468px;
  top:1451px;
  width:58px;
  height:29px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-2px;
  width:54px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u115 {
  position:absolute;
  left:468px;
  top:1557px;
  width:58px;
  height:29px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:54px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u117 {
  position:absolute;
  left:471px;
  top:1027px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u119 {
  position:absolute;
  left:468px;
  top:1239px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u121 {
  position:absolute;
  left:468px;
  top:1129px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u123 {
  position:absolute;
  left:468px;
  top:1332px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:468px;
  top:1434px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:468px;
  top:1542px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:86px;
}
#u129 {
  position:absolute;
  left:385px;
  top:1084px;
  width:326px;
  height:76px;
}
#u130 {
  position:absolute;
  left:2px;
  top:30px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:391px;
  top:1099px;
  width:256px;
  height:51px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u132 {
  position:absolute;
  left:665px;
  top:1109px;
  width:25px;
  height:25px;
}
#u133 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:228px;
}
#u134 {
  position:absolute;
  left:350px;
  top:1434px;
  width:395px;
  height:228px;
}
#u135 {
  position:absolute;
  left:2px;
  top:106px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u136 {
  position:absolute;
  left:640px;
  top:530px;
  width:135px;
  height:80px;
}
#u137 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u138 {
  position:absolute;
  left:775px;
  top:530px;
  width:135px;
  height:80px;
}
#u139 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u140 {
  position:absolute;
  left:910px;
  top:530px;
  width:135px;
  height:80px;
}
#u141 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u142 {
  position:absolute;
  left:1045px;
  top:530px;
  width:135px;
  height:80px;
}
#u143 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u144 {
  position:absolute;
  left:770px;
  top:626px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u146 {
  position:absolute;
  left:70px;
  top:756px;
  width:300px;
  height:24px;
  font-size:20px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
